.wrap {
  .ant-layout-sider-children {
    background-color: white;
  }
  height: 100vh;
  width: 100vw;

  display: flex;
  .header {
    display: flex;
    background-color: #f0f2f5;
    padding: 0 30px;
    margin-bottom: 45px;
  }
  .body {
    .sider__left {
      height: 100%;
      box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
      border-radius: 16px 0px 0px 16px;
    }
  }
  .body__right {
    background-color: #fff;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 8px 0px 0px 8px;
  }
}
